html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: #dddddd;
    color: #ff7777;
}

img {
    margin-right: 15px;
    width: 50px;
    height: 50px;
}

.flex-normal {
    height: inherit;
    display: flex;
    justify-content: space-between;
}

.flex-column {
    height: inherit;
    display: flex;
    flex-direction: column;
}

.pad-margin-no-top {
    padding: 0 10px 10px 10px;
    margin: 0 15px 15px 15px;
}

li {
    line-height: 30px;
}

.console {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    top: 50px;
    padding: 15px 0 15px 0;
    height: 100%;
    width: 50vw;
    background: #353535;
    color: white;
    overflow-y: scroll;
}

.route-information {
    padding: 20px;
    width: 42vw;
}

.form-route-wraper {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.text-center {
    text-align: center;
}

.json-pretty {
    width: 99%;
    margin-bottom: 60px;
}

.get {
    padding: 5px;
    font-weight: bold;
    color: white;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.white {
    background-color: white;
}

.purple-text {
    color: purple;
}

.orange-text {
    color: orange;
}

.blue-text {
    color: blue;
}

.margin-15 {
    margin-left: 15px;
}

.bold {
    font-weight: bold;
    text-decoration: underline;
}